body {
	margin: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(to bottom left, white, dimgray);
}

:root {
	font-size: 12px;
}

.books {
	display: flex;
	width: calc(12rem * 3 + 3rem * 2);
	justify-content: space-between;
	margin-top: 6rem;
}

.book {
	width: 12rem;
	height: 18rem;
	background: linear-gradient(navy, deeppink, tomato);
	transform: skewY(-10deg);
	box-shadow: -10px 5px 30px rgba(0, 0, 0, 0.5);
	position: relative;
	transition: 0.3s;
}

.book:hover {
	margin-top: -1.5rem;
}

.book:nth-child(2) {
	top: -3rem;
}

.book:nth-child(3) {
	top: -6rem;
}

.book::before,
.book p::before {
	content: '';
	position: absolute;
	width: 1.5rem;
	height: 100%;
	top: 0;
	left: -1.5rem;
	transform-origin: right;
	transform: skewY(45deg);
	filter: brightness(0.6);
}

.book::before {
	background: linear-gradient(navy, deeppink, tomato);
}

.book::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 1.5rem;
	background: white;
	top: -1.5rem;
	left: 0;
	transform-origin: bottom;
	transform: skewX(45deg);
	filter: brightness(0.9);
}

.book p {
	position: absolute;
	width: inherit;
	height: 8rem;
	top: 3rem;
	box-sizing: border-box;
	padding-top: 2rem;
	color: whitesmoke;
	font-size: 2.2rem;
	font-family: sans-serif;
	text-align: center;
	text-shadow: -2px 2px 10px rgba(0, 0, 0, 0.3);
}

.book p::before {
	background-color: inherit;
}

.book span {
	display: block;
	font-size: 1rem;
}

.book.html p {
	background-color: orange;
}

.book.css p {
	background-color: royalblue;
}

.book.js p {
	background-color: gold;
}
