body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.container {
    overflow: hidden;
    background-color: black;
    filter: contrast(10);
}

p {
    color: white;
    font-size: 100px;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    line-height: 1em;
    animation: 10s infinite;
    animation-name: show-hide, disperse;
}

p:first-child {transform: translateY(50%)}
p:last-child {transform: translateY(-50%)}

p:last-child {animation-direction: reverse;}

@keyframes show-hide {
    0% {filter: opacity(0) blur(8px);}
    33% {filter: opacity(1) blur(8px);}
    67%, 100% {filter: opacity(0) blur(24px);}
}

@keyframes disperse {
    0% {letter-spacing: -0.8em;}
    67%, 100% {letter-spacing: 0.24em;}
}
