body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #999;
}

.container {
    --dark: #222;
    --light: #ddd;
    font-size: 40px;
    width: calc(10em + 0.5em);
    height: 6em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.track {
    width: inherit;
    height: 2em;
    border: 1px solid var(--dark);
    background: linear-gradient(
        to right,
        var(--dark) 50%,
        var(--light) 50%
    );
    background-size: 1em;
    position: relative;
    display: flex;
    align-items: center;
}

.track:last-child {
    background-position: 0.5em;
}

.track::before {
    content: '';
    position: absolute;
    width: 2em;
    height: 0.8em;
    background-color: var(--light);
    animation: move 5s linear infinite alternate;
    box-sizing: border-box;
    border: solid var(--dark);
    border-width: 0;
    transition: 0.5s background-color 0.2s;
}

.container:hover .track::before {
    background-color: white;
    border-width: 0.1em;
}

@keyframes move {
    from {
        left: 0;
    }
    
    to {
        left: calc(100% - 2em);
    }
}
