<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>
</head>
<body>
    <div class="container"></div>

    <script type="text/x-tmpl" id="template">
        <p><%= first %></p>
        <p class="middle short">
            <span><%= middleLength %></span>
        </p>
        <p class="middle long hide">
            <span><%= middle %></span>
        </p>
        <p><%= last %></p>
    </script>

    <script src="script.js"></script>
</body>
</html>