body {
	margin: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: black;
}

.loader {
	width: 10em;
	height: 3em;
	border: 0.3em solid silver;
	border-radius: 3em;
	font-size: 30px;
	border-left-color: hotpink;
	border-right-color: dodgerblue;
	position: relative;
	animation: spin 3s linear infinite;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

.loader::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 3em;
	height: 3em;
	border-radius: 50%;
	background-color: dodgerblue;
	animation:
		shift 3s linear infinite,
		change-color 3s linear infinite;
}

@keyframes shift {
	50% {
		left: 7em;
	}
}

@keyframes change-color {
	0%, 55% {
		background-color: dodgerblue;
	}

	5%, 50% {
		background-color: hotpink;
	}
}

