html, body {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: darkcyan;
}

h1 {
	font-family: sans-serif;
	color: gold;
	text-align: center;
	position: relative;
}

h1::after {
	content: '?';
	position: absolute;
	top: -0.35em;
	left: 0;
	font-size: 25em;
	transform: rotate(15deg);
	color: cyan;
	filter: opacity(0.3);
	text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

p {
	width: 400px;
	height: 2.5em;
	color: gold;
	font-size: 24px;
	border: 2px solid gold;
	line-height: 2.5em;
	text-align: center;
	border-radius: 10px;
	font-family: sans-serif;
	letter-spacing: 2px;
	word-spacing: 2px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
	position: relative;
	overflow: hidden;
}

p span {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	transition: 0.5s ease-out;
}

p .question {
	left: 0;
}

p:hover .question {
	left: 100%;
}

p .answer {
	color: whitesmoke;
	font-size: 1.1em;
	text-transform: uppercase;
	background: rgba(0, 0, 0, 0.1);
	left: -100%;
}

p:hover .answer {
	left: 0;
}
