body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chaplin {
    font-size: 10px;
    width: 40em;
    height: 30em;
    background-color: #eee;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: #333;
    box-shadow: 0 0 4em 1em rgba(0, 0, 0, 0.2);
}

.hat {
    position: absolute;
    width: 6.4em;
    height: 4.6em;
    background-color: currentColor;
    border-radius: 2.3em 2.3em 0 0;
    display: flex;
    justify-content: center;
    top: 1.4em;
}

.hat::before {
    content: '';
    position: absolute;
    width: 10em;
    height: 0.8em;
    background-color: currentColor;
    border-radius: 0.4em;
    top: calc(100% + 0.4em);
}

.beard {
    position: absolute;
    width: 1.5em;
    height: 0;
    border-bottom: 1em solid currentColor;
    border-left: 0.4em solid transparent;
    border-right: 0.4em solid transparent;
    top: 11.6em;
}

.stick {
    position: absolute;
    width: 5.6em;
    height: 3em;
    box-sizing: border-box;
    border: 0.8em solid;
    border-radius: 5.6em 5.6em 0 0;
    border-bottom: none;
    bottom: 10.5em;
}

.stick::before {
    content: '';
    position: absolute;
    width: 0.8em;
    height: 10.5em;
    background-color: currentColor;
    left: -0.8em;
    bottom: -10.5em;
}

.stick::after {
    content: '';
    position: absolute;
    width: 0.8em;
    height: 0.8em;
    background-color: currentColor;
    border-radius: 50%;
    right: -0.8em;
    bottom: calc(0.8em / 2 * -1);
}

.quote {
    position: absolute;
    left: 50%;
    bottom: 2.5em;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.quote span:nth-child(1) {letter-spacing: 0.05em;}
.quote span:nth-child(2) {font-size: 1.6em;}
