body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center; 
    justify-content: center;
    background-image: radial-gradient(circle, #542482, black);
}
.ball {
    width: 50vmin;
    height: 50vmin;
    font-size: 50vmin;
    line-height: 1em;
    position: relative;
}
.ball::before {
    content: '';
    position: absolute;
    width: 127%;
    height: 30%;
    left: 5%;
    top: -20%;
    border: 2vmin solid orange;
    box-sizing: border-box;
    border-radius: 50%;
    box-shadow: 0 0 0.1em hsla(60, 100%, 50%, 0.5);
}
.ball::after {
    content: '';
    position: absolute;
    width: 120%;
    height: 20%;
    left: 25px;
    bottom: -35px;
    background-color: hsla(0, 0%, 0%, 0.6);
    z-index: -1;
    border-radius: 50%;
}
