body {
	margin: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(white, bisque);
}

.buddha {
    width: 13em;
    height: 19em;
    font-size: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    animation: animate 3s ease-in-out infinite;
}

.buddha > * {
    position: absolute;
}

@keyframes animate {
    50% {
        transform: translateY(-2em);
    }
}

.head {
    width: 12.5em;
    height: 12.5em;
    color: peachpuff;
    background: 
		radial-gradient(
			circle at 50% 40%,
			tomato 0.6em,
			transparent 0.6em
		), /* circle between eyebrows */
		currentColor;
    border-radius: 50%;
    filter: brightness(0.9);
    box-shadow: 
		5.8em 2em 0 -4.8em, /* ear right*/
		-5.8em 2em 0 -4.8em; /* ear left*/
}

.eyes::before,
.eyes::after {
    content: '';
    position: absolute;
    width: 1em;
    height: 0.5em;
    border: 0.6em solid #333;
    border-radius: 1em 1em 0 0;
    border-bottom: none;
    top: 6em;
}

.eyes::before {
    left: 2.5em;
}

.eyes::after {
    right: 2.5em;
}

.mouth {
    width: 1.5em;
    height: 0.5em;
    border: 0.5em solid tomato;
    border-radius: 0 0 1.5em 1.5em;
    border-top: none;
    top: 9em;
}

.body {
    width: 10em;
    height: 8em;
    background-color: coral;
    border-radius: 4em;
    bottom: 1em;
    z-index: -1;
}

.hand {
    width: 3.5em;
    height: 3.5em;
    background-color: peachpuff;
    border-radius: 50%;
    top: 13em;
    filter: brightness(0.9);
}

.legs {
    width: inherit;
    height: 5em;
    background-color: coral;
    border-radius: 2.5em;
    bottom: 0;
    z-index: -1;
}

.shadow {
    width: inherit;
    height: 5em;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    bottom: -4em;
    transform: rotateX(100deg);
    animation: shadow-animate 3s ease-in-out infinite;
}

@keyframes shadow-animate {
    50% {
        transform: rotateX(100deg) translateY(-10em) scale(0.7);
    }
}
