body {
	margin: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(cadetblue, darkcyan);
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 30px 0;
	width: 300px;
	background-color: lemonchiffon;
	box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

ul li {
	color: brown;
	font-size: 20px;
	font-family: sans-serif;
	margin: 0.5em;
	padding: 0.5em 1em;
	border-radius: 0.5em;
	transition: 0.5s ease-out box-shadow,transform;
}

ul li:hover {
	--shadow-color: rgba(0, 0, 0, 0.1);
	box-shadow: 
		0 4px 4px var(--shadow-color),
		0 6px 6px var(--shadow-color),
		0 8px 8px var(--shadow-color),
		0 12px 12px var(--shadow-color);
	transform: scale(1.05) translateY(-0.25em) perspective(300px) rotateX(20deg) ;
}
