body {
	margin: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: radial-gradient(circle at center,lightgreen, white);
}

:root {
	--outer-w: 50em;
	--outer-h: 40em;
}

.vue {
	width: var(--outer-w);
	height: var(--outer-h);
	font-size: 8px;
	display: flex;
	justify-content: center;
	position: relative;
	overflow: hidden;
}

/* brand colors from https://brandcolors.net/b/vue-js */
.vue .outer,
.vue .middle,
.vue .inner {
	position: absolute;
	border-style: solid;
	border-color: currentColor transparent transparent transparent;
	border-width: var(--h) var(--w) 0 var(--w);
	animation: in-and-out 3s linear infinite;
}

.vue .outer {
	--h: var(--outer-h);
	--w: calc(var(--outer-w) / 2);
	color: #42b883; /* aragon green */
}

.vue .middle {
	--h: calc(var(--outer-h) * 0.65);
	--w: calc(var(--outer-w) / 2 * 0.65);
	color: #35495e; /* derk denim */
	animation-delay: 0.1s;
}

.vue .inner {
	--h: calc(var(--outer-h) * 0.65 * 0.5);
	--w: calc(var(--outer-w) / 2 * 0.65 * 0.5);
	color: white;
	animation-delay: 0.2s;
}

@keyframes in-and-out {
	0%, 5% {
		top: -100%;
	}

	15%, 80% {
		top: 0;
		filter: opacity(1);
		transform: scale(1);
	}

	90%, 100% {
		top: 100%;
		filter: opacity(0);
		transform: scale(0);
	}
}
