body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(violet, midnightblue);
}

.steamer {
    font-size: 10px;
    width: 30em;
    height: 30em;
    background-color: white;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.pot {
    width: 16em;
    height: 12em;
    background-color: darkslateblue;
    border-radius: 0.5em 0.5em 6.5em 6.5em;
    border-right: 1.5em solid midnightblue;
    position: relative;
}

.pot::before {
    content: '';
    position: absolute;
    width: 27em;
    height: 2.5em;
    background-color: tomato;
    border-radius: 1.25em;
    left: calc((16em + 1.5em - 27em) / 2);
    top: 2em;
    z-index: -1;
}

.pot::after {
    content: '';
    position: absolute;
    width: 8em;
    height: 8em;
    border: 0.6em solid;
    border-color: transparent transparent white transparent;
    border-radius: 50%;
    top: 1em;
    left: 2em;
    transform: rotate(30deg);
}

.lid {
    width: 17em;
    height: 6em;
    background-color: gold;
    border-radius: 6em 6em 0 0;
    border: solid goldenrod;
    border-width: 0 1.5em 1.2em 0;
    position: relative;
    top: 0.5em;
    z-index: 1;
    animation: animate 1s infinite alternate;
}

@keyframes animate {
    to {
        transform: translateY(0.5em);
    }
}

.lid::before {
    content: '';
    position: absolute;
    width: 4em;
    height: 4em;
    background-color: tomato;
    border-radius: 50%;
    top: -2.5em;
    left: 7em;
}

.lid::after {
    content: '';
    position: absolute;
    width: 7em;
    height: 7em;
    border: 0.6em solid;
    border-color: transparent transparent transparent white;
    border-radius: 50%;
    top: 0.6em;
    left: 2.5em;
    transform: rotate(40deg);
}
