body {
	margin: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(to right bottom, violet, midnightblue);
}

.steamer {
	width: 30em;
	height: 30em;
	background-color: snow;
	font-size: 10px;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 1;
}

.pot {
	width: 16em;
	height: 12em;
	background-color: darkslateblue;
	position: relative;
	border-radius: 0.5em 0.5em 6.5em 6.5em;
	border-right: 1.5em solid midnightblue;
}

.pot::before {
	content: '';
	position: absolute;
	width: 27em;
	height: 2.5em;
	background-color: tomato;
	border-radius: 2.5em;
	left: -4.75em;
	top: 2em;
	z-index: -1;
}

.pot::after {
	content: '';
	position: absolute;
	width: 8em;
	height: 8em;
	border: 0.6em solid transparent;
	border-radius: 50%;
	border-left-color: white;
	transform: rotate(-60deg);
	top: 1em;
	left: 2em;
}

.lid {
	width: 17em;
	height: 6em;
	background-color: gold;
	position: relative;
	border-radius: 6em 6em 0 0;
	border-right: 1.5em solid goldenrod;
	border-bottom: 1.2em solid goldenrod;
	transform: translateY(-0.5em);
	animation: animate 1s infinite alternate;
	z-index: 2;
}

.lid::before {
	content: '';
	position: absolute;
	width: 4em;
	height: 4em;
	background-color: tomato;
	border-radius: 50%;
	left: 7em;
	top: -2.5em;
}

.lid::after {
	content: '';
	position: absolute;
	width: 7em;
	height: 7em;
	border: 0.6em solid transparent;
	border-radius: 50%;
	border-left-color: white;
	transform: rotate(40deg);
	top: 0.6em;
	left: 2.5em;
}

@keyframes animate {
	to {
		transform: translateY(0.5em);
	}
}
