body {
	margin: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
}

p {
	font-size: 20vw;
	color: white;
	font-family: sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	background-image: linear-gradient(
		to right,
		orangered,
		orange,
		gold,
		lightgreen,
		cyan,
		dodgerblue,
		mediumpurple,
		hotpink,
		orangered);
	background-size: 100vw;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: sliding 1.5s linear infinite;
}

@keyframes sliding {
	to {
		background-position: 100vw;
	}
}
