body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

.container {
    transform: skewY(-30deg);
}

.container p {
    color: white;
    font-size: 100px;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1em;
    margin: 0;
    height: 1em;
    overflow: hidden;
}

.container p:nth-child(odd) {
    transform: skewX(45deg);
}

.container p:nth-child(2) {margin-left: 1em;}
.container p:nth-child(3) {margin-left: 2em;}

.container p span {
    display: block;
    text-align: center;
    animation: lettering 3s infinite ease-in-out alternate;
}

@keyframes lettering {
    to {
        transform: translateY(-100%);
    }
}
