body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(lightcyan, lightblue);
}

.monster {
    width: 10em;
    height: 13em;
    font-size: 16px;
    color: blueviolet;
    background-color: currentColor;
    border-radius: 5em 5em 5% 5% / 6em 6em 5% 5%;
    position: relative;
    transform-origin: bottom center;
    animation: body-bounce 1s infinite;
    margin-top: 2em;
}

@keyframes body-bounce {
    50% {
        transform: scaleX(1.03) scaleY(0.97);
    }
}

.eye {
    position: absolute;
    width: 6.5em;
    height: 6.5em;
    background: 
        radial-gradient(
            circle at 50% 25%,
            white 0.4em,
            transparent 0.4em
        ),
        radial-gradient(
            circle at 50% 40%,
            black 1.7em,
            transparent 1.7em
        ),
        white;
    border-radius: 77% 77% 77% 77% / 92% 92% 60% 60%;
    top: 2em;
    left: calc((10em - 6.5em) / 2);
    box-shadow: 0.2em 0.9em 0 rgba(0, 0, 0, 0.1);
    animation: eye-blink 5s infinite;
}

@keyframes eye-blink {
    0%, 6% {
        transform: scaleX(1) scaleY(1);
    }

    3% {
        transform: scaleX(1.03) scaleY(0.1);
    }
}

.mouth {
    position: absolute;
    width: 3em;
    height: 2.1em;
    background-color: black;
    border-radius: 70% 70% 3.5em 3.5em;
    bottom: 0.9em;
    left: calc((10em - 3em) / 2);
    overflow: hidden;
}

.mouth::before {
    content: '';
    position: absolute;
    width: inherit;
    height: 0.6em;
    background-color: tomato;
    border-radius: 50% 50% 0 0;
    bottom: 0;
}

.tooth,
.tooth::before,
.tooth::after {
    position: absolute;
    border-top: 0.8em solid white;
    border-left: 0.4em solid transparent;
    border-right: 0.4em solid transparent;
    left: 1.1em;
}

.tooth::before {
    content: '';
    left: -1.1em;
    top: -0.8em;
}

.tooth::after {
    content: '';
    left: 0.3em;
    top: -0.8em;
}

.ear {
    position: absolute;
    width: 2.4em;
    height: 4.5em;
    top: -3em;
    transform-origin: bottom center;
    transform: rotate(calc(10deg * var(--direction)));
    animation: ears-shake 5s infinite;
}

@keyframes ears-shake {
    50% {
        transform: rotate(calc(20deg * var(--direction)));
    }
}

.ear::before {
    content: '';
    position: absolute;
    width: 0.9em;
    height: inherit;
    background-color: currentColor;
    left: calc((2.4em - 0.9em) / 2);
}

.ear::after {
    content: '';
    position: absolute;
    width: 2.4em;
    height: 2.4em;
    top: -0.5em;
    background-color: currentColor;
    border-radius: 50%;
    box-shadow: inset -0.3em -0.2em 0 rgba(0, 0, 0, 0.1);
}

.ear.left {
    left: 2em;
    --direction: -1;
}

.ear.right {
    right: 2em;
    --direction: 1;
}
