<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>
</head>
<body>
    <div class="app">
        <div class="form">
            <input placeholder="Who are you looking for?" id="username">
            <input type="button" value="Search" id="search">
        </div>
        <div class="profile"></div>
        <div class="alert">Alert Message</div>
    </div>
    <script type="text/x-tmpl" id="template">
        <div class="header">
            <div class="avatar"></div>
            <h2 class="name"><%= name %></h2>
            <h3 class="location"><%= location %></h3>
        </div>
        <div class="footer">
            <ul class="details">
                <li>Repositories<span><%= public_repos %></span></li>
                <li>Followers<br><span><%= followers %></span></li>
                <li>Following<br><span><%= following %></span></li>
            </ul>
            <a href="<%= html_url %>" class="to-github">go to github</a>
        </div>
    </script>
    <script src="script.js"></script>
</body>
</html>