body {
	margin: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: darkslategray;
}

.chess {
	background-color: burlywood;
	font-size: 32px;
	border: 0.2em solid tan;
	box-shadow: 0 0.3em 2em 0.4em rgba(0, 0, 0, 0.3);
}

ul {
	display: table;
	margin: 0;
	padding: 0;
}

li {
	display: table-cell;
	width: 1.5em;
	height: 1.5em;
	text-align: center;
	line-height: 1.5em;
	font-weight: bold;
}

ul:nth-child(odd) li:nth-child(even),
ul:nth-child(even) li:nth-child(odd) {
	background-color: rgba(0, 0, 0, 0.3);
}

ul:nth-child(-n+2) {
	color: black;
}

ul:nth-child(n+7) {
	color: white;
}