body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: navajowhite;
}

.box {
    width: 100%;
    display: flex;
    justify-content: center;
}

.box .inner {
    font-size: 10px;
    width: 50%;
    height: 21em;
    font-family: sans-serif;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
}

.box .inner.left {
    background-color: indianred;
    transform-origin: right;
    transform: perspective(10em) rotateY(-15deg);
}

.box .inner.right {
    background-color: lightcoral;
    transform-origin: left;
    transform: perspective(10em) rotateY(15deg);
}

.box .inner span {
    font-size: 70px;
    line-height: 3em;
    position: absolute;
    animation: marquee 5s linear infinite;
    animation-fill-mode: backwards;
}

.box .inner.left span {color: darkred; animation-delay: 2.5s;}
.box .inner.right span {color: antiquewhite;}

@keyframes marquee {
    from {left: 100%;}
    to {left: -100%;}
}
